<div class="jumbotron text-center">
  <h1>Registro curso</h1>
  <p class="lead">Bienvenido al registro del propedéutico</p>
  <div class="row">
    <div class="col-md-6">
      <p>Si aún no te haz registrado te invitamos a que lo hagas</p>
      <a class="btn btn-info" [routerLink]="['/register']">Registro</a>
    </div>
    <div class="col-md-6">
      <p>Sí ya estás registrado por favor inicia sesión</p>
      <a class="btn btn-primary" [routerLink]="['/login']">Iniciar sesión</a>
    </div>
  </div>
</div>

